:root{
    --blanco: #FFFFFF;
    --marron: #CF4528;
    --secundario: #0097A7;
    --gris: #757575;
    --amarillo: #FFFF00;
    --letraTitulo: 'Krub', sans-serif;
}

.titulo1 {
    text-align: center;
    font-size: 3.8rem;
    color: red;
}
.titulo2 {
    text-align: center;
    font-size: 2rem;
    color:blueviolet;
}

.contenedor {
   font-family: 'Courier New', Courier, monospace;
}

.titulo1 span {
    font-size: 2rem;
    color: blue;
}

.titulo2 span {
    font-size: 2rem;
    color: green;
}
<<<<<<< HEAD
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --fuente-principal: 3.8 rem;
}
.nav-bg {
    background-color: var(--primario);
}
.navegacion-principal{
    display: flex;
}
.titulo span {
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 0;
    margin-top: auto;
    margin: auto;
}
=======

.navegacion-principal {
    background-color: var(--amarillo);
}

h3{
    color: darkred;
}

fieldset{
    color: crimson;
}
>>>>>>> ef82e4ea8672c7babc35a9a0d44dae1e309cd122
