:root{
    --blanco: #FFFFFF;
    --marron: #CF4528;
    --secundario: #0097A7;
    --gris: #757575;
    --amarillo: #FFFF00;
    --letraTitulo: 'Krub', sans-serif;
}

.titulo1 {
    text-align: center;
    font-size: 3.8rem;
    color: red;
}
.titulo2 {
    text-align: center;
    font-size: 2rem;
    color:blueviolet;
}

.contenedor {
   font-family: 'Courier New', Courier, monospace;
}

.titulo1 span {
    font-size: 2rem;
    color: blue;
}

.titulo2 span {
    font-size: 2rem;
    color: green;
}
