:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --morado: #C1A0F6;
    --rosado: #F51A84;
    --fuente-principal: 3.8 rem;
    --letraTitulo: 'Titan One', sans-serif;
}
.nav-bg {
    background-color: var(--primario);
}
.navegacion-principal{
    display: flex;
}
.titulo {
    text-align: center;
    font-size: 3rem;
    color: purple;
}
.contenedor {
    font-family: 'Courier New', Courier, sans-serif;
 }
.titulo span {
    font-size: 2rem;
}
body{ 
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
@media (min-width: 780px){

    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }    

}
.contenedor{
    max-width: 120rem;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 0;
    margin-top: auto;
    margin: auto;
}

.navegacion-principal a:hover{
    background-color: var(--rosado);
    color:var(--oscuro);
}
.navegacion-principal {
    background-color: var(--morado);
}

h3{
    color: darkred;
}

fieldset{
    color: crimson;
}
.navegacion-principal a {
    display: block;
    color: var(--gris);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
}
